/*  primary: #8C2FSE
accent: #2B823A
accent: #A4A938
*/
nav {
    background-color: #013220; padding: 1em;
}
body{
    font-size: 12pt;
    font-weight: 100;
    font-family:monospace;
}
/*img { max-width: 100%}*/
nav a {
    color: #A4A938;
}

p   {
    font-family:"Lucida Sans Unicode", sans-serif;
    color:#A4A938;

}
h2 {
    font-family: "Impact", sans-serif;
    line-height: 100%;
    color: #A4A938;

}
footer{background-color: #013220; padding: 1em; font-family: serif; }




#banner{
    width:100%;
}
#top-header {
    text-align: left;
padding-bottom: 1em;
}
#middle-row{background-color: #013220; padding: 1em;}
#top-row, #middle-row {
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    justify-content: flex-end;

}

#middle-row,#bottom-row
{
    text-align: center;
}

}
#bottom-footer {
    background-color: #013220; text-align: center;
}
#content{
    background-color: #8C2F5E; width:90%; max-width: 940px; margin: 0 auto; padding: 1em;
}


.container{
    display: flex;
    flex-direction: row;

 }
.fullwidth{ max-width: 100%;}

.picture{
display:flex;
justify-content: flex-start;
}
.rightcol{display: flex;
justify-content: flex-end;}

.leftcol, .rightcol {
    display: flex;

    flex: 10 15 em;
    margin: 0.5em;
max-width:  48%;
}

.top-row, .bottom-row{
    max-width: 48%;
}

.icons{
    display: flex;
justify-content: flex-end;
}

