body {
    font-size: 12pt;
    font-weight: 100;
    font-family: monospace;
}

nav {
    background-color: #013220;
    font-size: 1em;
    padding: 0.5em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #A4A938;
}

.box {
    background-color: #013220;
}

#logo {
    display: flex;
    float: left;
    padding-bottom: 0.5em;
}

img {
    max-width: 100%;
}

p {
    font-family: "Lucida Sans Unicode", sans-serif;
    color: #A4A938;
}

h2 {
    font-family: "Impact";
    line-height: 100%;
    color: #A4A938;
}

footer {
    background-color: #013220;
    padding: 1em;
    font-family: serif;
}

#content {
    /*background-color: #8C2F5E;*/
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    padding: 1em;
}

#banner {
    width: 100%;
}

#top-header {
    text-align: left;
    padding-bottom: 1em;
}

#top-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em;
    text-align: right;
}

#middle-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    background-color: #013220;
    padding: 1em;
    text-align: left;
}

.leftcol,
.rightcol {
    padding-left: 2em;
    max-width: 48%;
}

#bottom-row {
    text-align: center;
}

#bottom-footer {
    background-color: #013220;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: flex-end;
}
